.about--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  &__container {
    display: flex;
    flex-direction: row;
    margin: 75px 20px;
    height: 500px;
    &--right-aligned {
      justify-content: flex-start;
    }
    &--left-aligned {
      justify-content: flex-end;
    }
  }
  &__content {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    &--left-aligned {
      justify-content: flex-start;
      padding-left: 50px;
      text-align: left;
    }
    &--right-aligned {
      justify-content: flex-end;
      padding-right: 50px;
      text-align: right;
    }
  }
  &__image {
    border-radius: 10px;
    height: 100%;
    width: auto;
    &--container {
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & p {
    font-size: 30px;
  }
}

@media (max-width: 1600px) {
  .about--page {
    padding: 50px;
    & p {
      font-size: 26px;
    }
    &__image {
      height: 75%;
    }
  }
}

@media (max-width: 1450px) {
  .about--page {
    & p {
      font-size: 22px;
    }
  }
}

@media (max-width: 1000px) {
  .about--page {
    &__container {
      margin-top: 25px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:nth-of-type(odd) {
        flex-direction: column-reverse;
      }
    }
    &__content {
      width: 50%;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (max-width: 500px) {
  .about--page {
    &__image {
      height: 65%;
    }
    &__content {
      width: 65%;
    }
  }
}
