.about {
    text-align: center;
    position: relative;
    top: -50px;
    padding: 50px;
    background-color: $primary-background-color;
    &--content {
        margin: 20px 100px;
    }
    &--hr {
        display: inline-block;
        margin-bottom: 20px;
        color: $primary-brand-color;
        transition: width 1s ease-in-out;
        &__visible {
            width: 100%;
        }
        &__not-visible {
            width: 0%;
        }
    }
}