.about {
    text-align: center;
    position: relative;
    top: -50px;
    padding: 50px;
    background-color: $primary-background-color;
    &--content {
        margin: 20px 100px;
    }
    &--hr {
        margin-bottom: 20px;
    }
}