.clients {
  @include centerFlexContainer(column);
  text-align: center;
  padding: 50px;
  &--container {
    @include centerFlexContainer(column);
    position: relative;
  }
  &--icon {
    cursor: pointer;
    color: $secondary-brand-color;
    margin: 5px;
    &__active {
      color: $primary-brand-color;
    }
    &:hover {
      color: $primary-brand-color;
      transition: color 0.5s ease-in;
    }
    &__container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 75%;
      height: 90%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

.client {
  width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 20px;
  &--content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    width: 60%;
    overflow-x: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid $secondary-font-color;
    border-top: 2px solid $secondary-font-color;
    border-bottom: 2px solid $secondary-font-color;
    height: 100%;
  }
  &--image {
    display: absolute;
    right: 0;
    height: 100%;
    width: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid $secondary-font-color;
    border-top: 2px solid $secondary-font-color;
    border-bottom: 2px solid $secondary-font-color;
  }
}

@media (max-width: 1000px) {
  .clients {
    &--icon {
      &__container {
        width: 60%;
      }
    }
  }
  .client {
    width: 500px;
    height: 500px;
    flex-direction: column;
    &--content {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-left: 2px solid $secondary-font-color;
      border-right: 2px solid $secondary-font-color;
      border-top: 2px solid $secondary-font-color;
      border-bottom: none;
    }
    &--image {
      width: 100%;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 2px solid $secondary-font-color;
      border-left: 2px solid $secondary-font-color;
      border-top: none;
      border-bottom: 2px solid $secondary-font-color;
    }
  }
}

@media (max-width: 600px) {
  .clients {
    &--icon {
      &__container {
        height: 95%;
      }
    }
  }
  .client {
    width: 400px;
    height: 600px;
    &--content {
      padding-bottom: 15px;
    }
  }
}

@media (max-width: 500px) {
  .client {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .client {
    width: 300px;
  }
}
