.contact {
  position: relative;
  @include centerFlexContainer(column);
  padding: 50px;
  text-align: center;
  &--form {
    margin: 20px;
    &__item {
      margin: 20px;
      text-align: left;
    }
    &__label {
      margin-bottom: 10px;
    }
    &__input {
      height: 50px;
      width: 750px;
      font-size: 24px;
    }
    &__text-area {
      height: 250px;
      width: 750px;
      overflow: auto;
      resize: vertical;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 0px;
    }
  }
  &--button {
    border: none;
    background-color: $alternative-background-color;
    color: $secondary-brand-color;
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: $primary-brand-color;
    }
    &__disabled {
      background-color: $primary-brand-color;
      opacity: 0.75;
      cursor: default;
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    &--form {
      &__input {
        width: 500px;
      }
      &__text-area {
        width: 500px;
      }
    }
  }
}

@media (max-width: 700px) {
  .contact {
    &--form {
      &__input {
        width: 400px;
      }
      &__text-area {
        width: 400px;
      }
    }
  }
}

@media (max-width: 500px) {
  .contact {
    &--form {
      &__input {
        width: 300px;
      }
      &__text-area {
        width: 300px;
      }
    }
  }
}
