.footer {
  position: relative;
  background-color: $secondary-background-color;
  padding: 20px;
  &--row {
    &__main {
      height: 75%;
      @include centerFlexContainer(row);
    }
    &__sub {
      height: 25%;
      margin-top: 20px;
    }
  }
  &--column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $secondary-brand-color;
    margin: 20px 100px;
    &__centered {
      align-items: center;
    }
    & p {
      margin: 0px;
      color: $secondary-brand-color;
    }
  }
  &--link {
    color: $secondary-brand-color;
    transition: color 0.5s ease-in-out;
    &:hover {
      color: $primary-brand-color;
    }
  }
  &--image {
    width: auto;
    height: 100px;
  }
}
