.footer {
    background-color: black;
    padding: 20px;
    &--row {
        &__main {
            height: 75%;   
        }
        &__sub {
            height: 25%;
            margin-top: 20px;
        }
    }
    &--column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        &__centered {
            align-items: center;
        }
        & p {
            margin: 0px;
        }
    }
    &--link {
        color: white;
    }
    &--image {
        width: 75px;
        height: 75px;
    }
}
