.header {
    background-color: transparent;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100vw;
    height: 50px;
    padding-right: 100px;
    transition: background-color 0.5s ease-out;
    &__backgroundVisible {
        background-color: gray;
        transition: background-color 0.5s ease-in;
    }
    &--brand {
        width: 30%;
        height: 100%;
        color: white;
        padding: 10px;
        @include inlineCenterFlexContainer(row);
        &__logo {
            max-width: 100%;
            height: 100%;
        }
    }
    &--linkContainer {
        width: 50%;
        height: 100%;
        @include inlineCenterFlexContainer(row);
        justify-content: flex-end;
        float: right;
        padding-right: 10vw;
    }
    &--link {
        color: white;
        margin: 10px;
    }
}

.activeNavLink {
    text-decoration: underline;
}