.header {
    background-color: transparent;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100vw;
    height: 50px;
    padding-right: 100px;
    &--brand {
        width: 30%;
        height: 100%;
        @include inlineCenterFlexContainer(row);
    }
    &--linkContainer {
        width: 50%;
        height: 100%;
        @include inlineCenterFlexContainer(row);
        justify-content: flex-end;
        float: right;
        padding-right: 10vw;
    }
    &--link {
        color: white;
        margin: 10px;
    }
}

.activeNavLink {
    color: gray;
}