.header {
    background-color: pink;
    position: absolute;
    width: 100vw;
    // padding: 10px 20px 10px 20px;
    padding-right: 100px;
    &--links {
        color: white;
        text-align: right;
    }
}

.activeNavLink {
    color: gray;
}