.hero {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  // top: -75px;
  z-index: -1;
  &--background {
    background-image: url("/images/hunters-race-MYbhN8KaaEc-unsplash.jpg");
    filter: brightness(50%) contrast(95%);
    background-size: cover;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.9);
  }
  &--logo {
    height: 25%;
    &__container {
      @include centerFlexContainer(column);
      height: 100%;
      width: 100%;
    }
  }
  &--title {
    margin: 0px;
    font-size: 85px;
    color: white;
  }
}

@media (max-width: 1000px) {
  .hero {
    &--background {
      background-position: center;
    }
    &--logo {
      height: 20%;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    &--logo {
      height: 15%;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    &--logo {
      height: 12.5%;
    }
  }
}
