.service {
    width: 300px;
    height: 300px;
    background-color: transparent;
    margin: 30px;
    overflow: hidden;
    color: white;
    @include centerFlexContainer(column);
    text-align: center;
    &:hover {
        background-color: $primary-brand-color;
    }
    &--icon {
        color: white;
    }
}