.services {
    background-image: url('/images/thomas-drouault-IBUcu_9vXJc-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    @include centerFlexContainer(column);
}