.services {
    position: relative;
    top: -50px;
    background-image: url('/images/thomas-drouault-IBUcu_9vXJc-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}