.services {
    position: relative;
    top: -50px;
    overflow: hidden;
    z-index: 1;
    padding: 50px 100px;
    text-align: center;
    &--background {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -2;
        background-image: url('/images/thomas-drouault-IBUcu_9vXJc-unsplash.jpg');
        filter: brightness(50%) contrast(95%);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &--hr {
        margin-bottom: 0px;
    }
    &--service-container {
        @include centerFlexContainer(row);
    }
}