//Color Pallette
$primary-brand-color: #6700f7;
$secondary-brand-color: #f6f6f6;
$alternative-brand-color: #761bf7;

$primary-background-color: #f1f2f2;
$secondary-background-color:  #404041;
$alternative-background-color: #595959;

$primary-font-color: #404041;
$secondary-font-color: #595959;
$alternative-font-color: #f6f6f6;