.fade-in {
  opacity: 0;
  transform: translateY(7.5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  &--visible {
    opacity: 1;
    transform: translateY(0vh);
    visibility: visible;
  }
  &--from-side {
    opacity: 0;
    transform: translateX(7.5vw);
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    &__visible {
      opacity: 1;
      transform: translateX(0vw);
      transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    }
  }
}

.fade-out {
  &--from-side {
    &__invisible {
      opacity: 0;
      transform: translateX(-7.5vw);
      transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    }
  }
}

.scroll-in-hr {
  display: inline-block;
  border: 1px solid $primary-brand-color;
  margin-bottom: 20px;
  transition: width 1.2s ease-out;
  &__visible {
    width: 100%;
  }
  &__not-visible {
    width: 1%;
  }
}

.dropdown {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease-out, transform 0.3s linear;
  &--visible {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 0.6s ease-out, transform 0.3s linear;
  }
}

@media (max-width: 500px) {
  .fade-in {
    &--from-side {
      opacity: 0;
      transform: translateX(4vw);
      transition: opacity 0.6s ease-out, transform 1.2s ease-out;
      &__visible {
        opacity: 1;
        transform: translateX(0vw);
        transition: opacity 0.6s ease-out, transform 1.2s ease-out;
      }
    }
  }
  .fade-out {
    &--from-side {
      &__invisible {
        opacity: 0;
        transform: translateX(-4vw);
        transition: opacity 0.6s ease-out, transform 1.2s ease-out;
      }
    }
  }
}
