.fade-in {
    opacity: 0;
    transform: translateY(7.5vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    &--visible {
        opacity: 1;
        transform: translateY(0vh);
        visibility: visible;
    }
}

.scroll-in-hr {
    display: inline-block;
    color: $primary-brand-color;
    margin-bottom: 20px;
    transition: width 1.2s ease-out;
    &__visible {
        width: 100%;
    }
    &__not-visible {
        width: 1%;
    }
}