.container--centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    &--full {
        height: 100vh;
    }
    &--half {
        height: 50vh;
    }
}