.container {
    width: 100vw;
    &--full {
        height: 100vh;
    }
    &--half {
        height: 50vh;
    }
    &--centered {
        &__col {
            @include centerFlexContainer(column)
        }
        &__row {
            @include centerFlexContainer(row)
        }
    }
    &--wrap {
        display: flex;
        flex-wrap: wrap;
    }
}