html {
  scrollbar-width: thin;
  scrollbar-color: $alternative-background-color $secondary-brand-color;
}

body {
  margin: 0px;
  overflow-x: hidden;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("/images/funky-lines.png");
    opacity: 0.4;
    z-index: -1;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $secondary-brand-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-brand-color;
    &:active {
      background-color: $alternative-brand-color;
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    color: $primary-brand-color;
  }
}

hr {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  border: 2px solid $secondary-font-color;
  border-radius: 5px;
  padding: 0px 10px;
}

textarea {
  border: 2px solid $secondary-font-color;
  border-radius: 5px;
  padding: 10px;
}
