
// modules, mixins, variables etc
@import 'modules/variables';
@import 'modules/mixins';

// reset, typography, base styles etc
@import 'partials/reset';
@import 'partials/typograhy';

// partials used between components
@import 'partials/grids';
@import 'partials/containers';

// highly specific components
// eg: @import 'components/<filename>';